


<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>home</title>
  {% block head %}
  <link rel="stylesheet" href="{{asset('bundles/style.css')}}">
  {%endblock%}
  
  <!-- voir à DL les fonts et les inclure en local ? (perf' - non dépendance à des ressources externes)-->
   <link href="https://fonts.googleapis.com/css?family=Lato:400|Lora:400i|Metamorphous" rel="stylesheet"> 
  
</head>
<body>
  <header>
	<button class="c-hamburger c-hamburger--rot">
	  <span>toggle menu</span>
	</button>
	<nav>
		<a href="/tournoi">Chercher un tournoi</a>
		<a href="/tournoi/create">Créer un tournoi</a>
		<a href="/accueil" ><h1> Magic Tournament </h1> </a>
		<a href="/tournoi/mestournois">Mes tournois</a>
		<a href="/logout">Se déconnecter</a>
		
	</nav>
  </header>
  <section id="illus">
	<img src="{{asset('bundles/bkgd.jpg')}}" alt="Illustration de l'univers Magic"/> <!-- src : http://www.dudaite.com/i/2017/01/magic-the-gathering-dragon-wallpaper-picture.jpg !-->
  </section>
  <section id="main">
  	<h2>Mes préinscriptions </h2>
  	<div class="form">
  	{%if tournois%}
	<table class = "c1">
	<tr class = "c2">
			<td>Nom </td>
			<td>Format</td>
			<td>Date</td>
			<td>Inscrits</td>
			<td>Plus d'infos</td>
		</tr>	
	{% for tournoi in tournois %}
		<tr>
			<td>{{tournoi.getNom()|escape}} </td>
			<td>{{tournoi.getFormat().getFormat()}} </td>
			<td>{{tournoi.getDate()|date("m/d/Y")|escape}} </td>
			<td> {{tournoi.getIduser().count()}}/{{tournoi.getMaxuser()|escape}} </td>
			<td><a href="/tournoi/{{ tournoi.idtable }}"><input type="submit" value = "Plus d'infos"></input></a></td>
		</tr>	
	{% endfor %}
	</table>
	</div>
{% else %}
	<p>Tu n'es inscrit à aucun tournoi pour le moment =( </p>
{%endif%}
  </section>
  
  <script type="text/javascript"> <!-- Pour faire fonctionner le burger-->
	(function() {

	  "use strict";

	  var toggles = document.querySelectorAll(".c-hamburger");

	  for (var i = toggles.length - 1; i >= 0; i--) {
		var toggle = toggles[i];
		toggleHandler(toggle);
	  };

	  function toggleHandler(toggle) {
		toggle.addEventListener( "click", function(e) {
		  e.preventDefault();
		  (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
		});
	  }

	})();
  </script>
  
</body>
</html>